.navbar {
    background-color: #242424;
    padding: 5px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;

}

.navbar ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #f9f9f9;
}

.navbar-left {
    position: fixed; /* Added to position it relative to the nearest positioned ancestor */
    top: 2%;            /* Added to align it to the top */
    left: 2%;           /* Added to align it to the left */
    display: flex;
    align-items: center;
}