.navbar {
    background-color: #242424;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #007bff;
}